*{
    background-color: none;
}
.header { 
    width: 1920px;
    height: 161px;
    float: left;
}
.container{
    background-color: white;
}
.logo { 
    width: 350.92px;
    height: 104.36px;
}
.nav { 
  width: 1920px;
  height: 161px;
}

li{
    float: right;
    display: inline;
    padding: 20px;
    margin-top: -70px;
    height: 70px;
}

li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}