* { 
    background-color: none;
}

.background { 
  width: 1920px;
  height: 1639px;
  filter: brightness(35%);
}

.welcome { 
  width: 1576px;
  height: 384px;
}
/*
.background img  { 
  
}
.box img { 
}
.box2 img { 
}
*/















